{# Copyright (c) Microsoft Corporation. All rights reserved. #}

{% macro set_font(font_family, size) -%}
    html {
        font-family: {{ font_family }};
        font-size: {{ size }};
    }
{% endmacro %}

{% macro load_font(font_name, font_family) -%}
    @font-face {
        font-family: {{ font_family }};
        src: url(fonts/{{ font_name }});
    }
{% endmacro %}

{% macro set_hyphenation(hyphenate=True) -%}
    {% if hyphenate %}
        html { hyphens: auto; }
    {% else %}
        html { hyphens: none; }
    {% endif %}
{% endmacro %}

{% macro set_text_align(alignment) -%}
    html { text-align: {{ alignment }} }
{% endmacro %}

{% macro set_question_style(font_family, font_size, line_height) -%}
    div.question {
        font-family: {{ font_family }};
        font-size: {{ font_size }};
        {% if line_height %}
            line-height: {{ line_height }};
        {% endif %}
    }
{% endmacro %}

{% macro set_context_style(font_family, font_size, line_height, word_break, line_break) -%}
    div.context {
        font-family: {{ font_family }};
        font-size: {{ font_size }};
        {% if line_height %}
            line-height: {{ line_height }};
        {% endif %}
        {% if word_break %}
            word-break: {{ word_break }};
        {% endif %}
        {% if line_break %}
            line-break: {{ line_break }};
        {% endif %}
    }
{% endmacro %}

{% macro set_pretraining_text_style(font_family, font_size, line_height, word_break, line_break) -%}
    div.pretraining_text {
        font-family: {{ font_family }};
        font-size: {{ font_size }};
        {% if line_height %}
            line-height: {{ line_height }};
        {% endif %}
        {% if word_break %}
            word-break: {{ word_break }};
        {% endif %}
        {% if line_break %}
            line-break: {{ line_break }};
        {% endif %}
    }
{% endmacro %}